.header {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 320px 120px 321px;
  background-color: #F6FFF7;
}


.logo {
  margin: 0 398px 0 290px;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
  
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: #000000;
  text-decoration: none;
}