.profileButton {
  display: flex;
  width: 176px;
  height: 64px;

  padding: 16px 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;

  border: 1px solid #000000;
  border-radius: 20px;


  background-color: #6AA378;
  color: #000000;

  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

.wrapperIcon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 1px solid #000000;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  background-color: #D6EAD8;
}

.smallBtnShadow {
  box-shadow:  4px 4px #000000;
}

.profileButton:hover {
  box-shadow: none;
}

.profileButton:active {
  background-color: #23685B;
  box-shadow: none;
}

.profileButton:disabled {
  background-color: #98A49B;
  color: #69786C;
  box-shadow: none;
}
