.librariesSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  color: #000000;
  margin-bottom: 40px;
}

/* ===== КАРТА ===== */
.mapContainer {
  width: 1277px;
  height: 555px;
  border: 1px solid #000000;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}
